{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign queryString = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&' -%}

{%- assign viewBValue = '' -%}
{%- if queryString contains 'viewBy=' -%}
    {%- assign viewBValue = queryString | split: 'viewBy=' | last | split: '&' | first -%}
{%- endif -%}

 <div class="viewBy">
  <span class="text">View By</span>
  <span {% if viewBValue == 'three' %} class="current"{% endif %}>
    <a href="{{ request.url }}?viewBy=three">3</a>
  </span> 
  <span {% if viewBValue == 'four' or viewBValue == blank %} class="current"{% endif %}>
    <a href="{{ request.url }}?viewBy=four">4</a>
  </span>
  <span {% if viewBValue == 'five' %} class="current"{% endif %}>
    <a href="{{ request.url }}?viewBy=five">5</a>
  </span>
</div> 
<nav class="breadcrumbs" style="display:none;">
  <a href="{{ routes.root_url }}" title="{{'collections.breadcrumbs.back_to_home' | t }}" class="breadcrumbs__link">
    {{- 'collections.breadcrumbs.home' | t -}}
  </a>

  {%- if template contains 'collection' -%}
    <span class="breadcrumbs__sep">/</span>
    <a href="{{ routes.collections_url }}" class="breadcrumbs__link">
      {{- 'collections.breadcrumbs.collections' | t -}}
    </a>
    <span class="breadcrumbs__sep">/</span>

    {%- if collection.handle -%}
      <span class="breadcrumbs__current">
        {%- if collection.handle == 'all' -%}
          {{- 'collections.breadcrumbs.default_collection' | t -}}
        {%- else -%}
          {{- collection.title -}}
        {%- endif -%}
      </span>
    {%- endif -%}
  {%- endif -%}

  {%- if template contains 'product' -%}
    <span class="breadcrumbs__sep">/</span>

    {%- assign product_collection = collection | default: product.collections[0] -%}
    {%- if product_collection.handle != blank -%}
      {{- product_collection.title | link_to: product_collection.url | replace: '<a ', '<a class="breadcrumbs__link" '-}}
      <span class="breadcrumbs__sep">/</span>
    {%- endif -%}

    {%- if product.handle -%}
      <span class="breadcrumbs__current">{{ product.title | strip_html | escape }}</span>
    {%- endif -%}
  {%- endif -%}
</nav>
{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign queryString = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&' -%}

{%- assign viewValue = '' -%}
{%- if queryString contains 'view=' -%}
    {%- assign viewValue = queryString | split: 'view=' | last | split: '&' | first -%}
{%- endif -%}
<div class="filterCenter">
  <a href="javascript:void(0);">Filters</a>
</div>
<div class="side-pair-view">
  <span class="current" >Image angle</span>
  <span id="sideselect"{% if viewValue != 'pair' %} class="current"{% endif %}><a href="{{ request.url }}?view=side">1</a></span> 
  <span id="pairselect"{% if viewValue == 'pair' %} class="current"{% endif %}><a href="{{ request.url }}?view=pair">2</a></span>
</div>