<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 9999; /* Sit on top */
        padding-top: 10%; /* Location of the box */
        width: 100%; /* Full width */
        height: 105%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        opacity: 1!important;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 75px 20px;
        position: relative;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
        height: 80%;
        max-height: 350px;
    }

    .modal-content .btn-submit,
    .modal-content .form-label,
    .modal-content select {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    /* The Close Button */
    .close {
        color: #000;
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        text-decoration: none;
        cursor: pointer;
    }

    @media screen and (max-width: 767px) {
        .modal {
            padding-top: 50%;
        }

        .modal-content .btn-submit,
        .modal-content .form-label,
        .modal-content select {
            margin-left: auto;
            margin-right: auto;
            width: 75%;
        }
    }
</style>

<!-- The Modal -->
<div id="localization-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-title text-center">
            <h2>We ship worldwide</h2>
        </div>
        <div class="contact-form form-vertical">
            <div class="form-label text-center">
                <p>Shipping to</p>
            </div>
            {% if localization.available_countries.size > 1 %}
              <localization-form>
                {%- form 'localization', class: local_form_class, id: 'LocalizationForm' -%}
                    <select id="modal-local-select-country_code" name="country_code">
                      {% for country in localization.available_countries %}
                          <option {% if form.current_country.iso_code == country.iso_code %}selected{% endif %} value="{{ country.iso_code }}">{{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})</option>
                      {%- endfor -%}
                    </select>
                    <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                    <button type="submit" class="btn btn-submit btn--primary btn--small">Save</button>
                {%- endform -%}
              </localization-form>
            {% endif %}
        </div>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get the modal
    let modal = document.getElementById("localization-modal");

    // Get the button that opens the modal
    let btn = document.querySelector(".localization-span");

    let btnFooter = document.querySelector(".footer-localization-span");

    // Get the button that opens the modal
    let btnMobile = document.querySelector(".localization-btn-mobile");

    // Get the <span> element that closes the modal
    let closeSpan = document.getElementsByClassName("close")[0];
    if (btn) {
    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }
    }
    if (btnFooter) {
    // When the user clicks the button, open the modal
    btnFooter.onclick = function() {
        modal.style.display = "block";
    }
    }
    if (btnMobile) {
    // When the user clicks the button, open the modal
    btnMobile.onclick = function() {
        modal.style.display = "block";
    }}
    if (closeSpan) {
    // When the user clicks on <closeSpan> (x), close the modal
    closeSpan.onclick = function() {
        modal.style.display = "none";
    }
    }

    // When the user clicks anywhere outside of the modal, close it
    modal.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    class LocalizationForm extends HTMLElement {
        constructor() {
            super();
            this.elements = {
                input: this.querySelector('input[name="language_code"], input[name="country_code"]'),
                button: this.querySelector('.btn-submit'),
                panel: this.querySelector('select'),
            };

            let selectedCountry = '';
            document.querySelector('#modal-local-select-country_code').addEventListener('change', function(){
              selectedCountry = this.value;
              document.querySelector('input[name="country_code"]').value = selectedCountry;
            });
        }
    }
    customElements.define('localization-form', LocalizationForm);
  });
</script>