{%- liquid
  assign wrapper = section.settings.wrapper
  assign heading_size = section.settings.heading_size
  assign image_aspect_ratio = section.settings.image_aspect_ratio
  assign bg_color = section.settings.bg_color
  assign sectionClass = section.settings.sectionClass
  assign button_style = section.settings.button_style
  assign animations_enabled = settings.animations_enabled
  assign style_ref = section.settings.style_reference
  assign animation_anchor = '#ProductsList--' | append: section.id
  assign animation_delay = 0

  assign wrapper_class = 'wrapper'
  if wrapper == 'full'
    assign wrapper_class = 'wrapper wrapper--full'
  endif

  assign show_section = 'no'
  if style_ref == 'Givia 40'
    assign show_section = 'yes'
  endif
  
  if style_ref == 'Givia 55 pin'
    assign show_section = 'yes'
  endif
    
  if style_ref == 'Givia 75'
    assign show_section = 'yes'
  endif  
  
  if sectionClass != 'productPageGivia bg-white'
    assign show_section = 'yes'
  endif

-%}

{%- style -%}
  {%- if bg_color != 'rgba(0,0,0,0)' and bg_color != '' -%}
    #ProductsList--{{ section.id }} { background-color: {{ bg_color }}; }
  {%- endif -%}
  #ProductsList--{{ section.id }} { --aspect-ratio: {{ image_aspect_ratio }}; }
  #ProductsList--{{ section.id }} .products-list__nav__button { --adjust-heading: calc(var(--FONT-ADJUST-HEADING) * {{ heading_size }} * 0.01); }
{%- endstyle -%}
{% if show_section == "yes" %}
<section
  id="ProductsList--{{ section.id }}"
  class="products-list-section {{ section.settings.sectionClass }}"
  data-section-id="{{ section.id }}"
  data-section-type="products-list"
  data-autoplay-video="true">
  <div class="{{ wrapper_class }}" data-overflow-container>
    {%- unless section.settings.title == blank -%}
      <h2 class="section__heading"{% if animations_enabled %} data-aos="fade-up" data-aos-anchor="{{ animation_anchor }}" data-aos-delay="{{ animation_delay }}"{% endif %}>{{ section.settings.title }}</h2>
      {%- assign animation_delay = animation_delay | plus: 150 -%}
    {%- endunless -%}
    <div class="productRow" data-aos="fade-up">
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
              
              {%- liquid
                assign product_handle = block.settings.product
                assign product = all_products[product_handle]
                assign button_link = '#!'
                assign animation_delay_content = animation_delay
                assign enable_video_looping = true
               
                
           -%}

              {%- liquid
                   if block.settings.title != blank
                      assign product_title = block.settings.title
                    else
                      assign product_title = product.title | strip_html | escape
                    endif

                    if block.settings.button_text != blank
                      assign button_text = block.settings.button_text
                    else
                      assign button_text = product.title | strip_html | escape
                    endif

                    if block.settings.image_1 != blank
                      assign product_image = block.settings.image_1
                    else
                      assign product_image = product.featured_media.preview_image
                    endif 

                    assign image_url_pattern = product_image | img_url: '720x'| replace: '_720x.', '_{width}x.'
                     assign image_widths = "[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"

                    assign first_variant = product.selected_or_first_available_variant
                    if first_variant.price == 0
                      assign product_price = 'products.product.free' | t
                    else
                      assign product_price = first_variant.price | money
                    endif
                    if block.settings.product_description != blank
                      assign product_description = block.settings.product_description 
                    else
                      assign product_description = product.description | strip_html | truncate: 180
                    endif
                    assign product_url = product.url
                    assign product_media = product.featured_media
                    assign button_link = product.url
                    
                    assign first_3d_model = false
                    if product_media.media_type == 'model'
                      assign first_3d_model = true
                    endif
                  -%}
              <div class="productCol">
                <div class="productBlock">
                  <div class="productImg">
                  <img  class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="{{ image_url_pattern }}"
                    data-widths="{{ image_widths }}"
                    data-aspectratio="{{ image_aspect_ratio }}"
                    alt="{{product_title}}"
                    data-sizes="auto"
                    />
                  </div>
                  <div class="productContent">
                    <h3>{{product_title}}</h3>
                    <p><a href="{{product_url}}">{{product.title | strip_html | escape}}</a></p>
                    <!--a href="{{product_url}}" class="btn btn-primary">{{ button_text }}</a-->
                  </div>
                </div>
              </div>
         
        {%- endfor -%}
      {%- endif -%}
        
    </div>
  </div>
</section>
{% endif %}
{% schema %}
{
  "name": "Home Products list",
  "max_blocks": 4,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sectionClass",
      "label": "Section Class"
    },
    {
      "type": "text",
      "id": "style_reference",
      "label": "Style Reference"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
        "type": "select",
        "id": "wrapper",
        "label": "Width",
        "default": "normal",
        "options": [
          { "value": "normal", "label": "Normal" },
          { "value": "full", "label": "Wide" }
        ]
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "range",
      "id": "heading_size",
      "label": "Heading size",
      "min": 100,
      "max": 200,
      "step": 10,
      "unit": "%",
      "default": 120
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Style",
      "default": "primary btn--small",
      "options": [
        { "label": "Text", "value": "text" },
        { "label": "Small button", "value": "primary btn--small" },
        { "label": "Large button", "value": "primary" },
        { "label": "Small outline button", "value": "secondary btn--small" },
        { "label": "Large outline button", "value": "secondary" }
      ]
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "range",
      "id": "image_aspect_ratio",
      "label": "Image aspect ratio",
      "info": "Wide to tall",
      "min": 0.5,
      "max": 1.5,
      "step": 0.1,
      "unit": ":1",
      "default": 1.0
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    }
  ],
  "blocks": [
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Overrides product title"
        },
        {
          "type": "textarea",
          "id": "product_description",
          "label": "Description",
          "info": "Overrides product description"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "View Product"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Custom image 1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Products list",
      "category": "Collection",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
